# Parsing Toxic Data
We have a 2 GB file called basic_data_files.csv that has a rows with many columns that we need to break down into 

Each Basic Data File contains 108 data fields, which generally represent these categories:
* Facility Name, Address, Latitude & Longitude Coordinates, SIC or NAICS codes and Industry Sector Codes
* Chemical Identification and Classification Information
* On-site Release Quantities
* Publicly Owned Treatment Works (POTW) Transfer Quantities
* Off-site Transfer Quantities for Release/Disposal and Further Waste Management
* Summary Pollution Prevention Quantities (Section 8 of the Form R)

## Relations
We have the following tables that supporting the following textual description. Companies manage Facilities. Facilities release chemicals. Facilities may release chemicals repeatedly. Facilities may release more than one chemical.

* Company(name:string)
* Facility(company:references, name:string, address:string, latitude:float, longitude:float, SIC_code:string, NAICS_code:string, industry_sector_code:string)
* Chemical(name:string, clear_air_act_chemical:boolean, is_metal:boolean, metal_category:string)
* Release(facility:references, chemical:references, date:datetime, method:string, quantity:integer, units:string)

## Data Wrangling

There are significantly more columns in the basic data files than are captured in these relations, yet this schema is still too complicated. Releases will be queried and compared by time of release as well as quantity. Our storage of quantity as an integer with a string unit is problematic for comparison. The assumption is that runtime computation will compute the comparisons unless we store everything in the same units.

## Goals

* Acquire all of the information for the tables as described
* Convert all of the quantities to a single unit 
* Change the Release table according to the unit
* Insert recrods into the MySQL for each table

In [2]:
import pandas as pd

files = pd.read_csv('basic_data_files.csv', chunksize=8192, nrows=10)

companies = set()
for df in files:
    names = df['PARENT_COMPANY_NAME']
    names.fillna(0,inplace=True)
    for company in names:
        companies.add(company)

companies.remove(0)
companies

{'ACUSHNET HOLDINGS CORP',
 'CARGILL INC',
 'GENERAL MOTORS LLC',
 'HANNA STEEL CORP',
 'KICE INDUSTRIES INC',
 'THE CLOROX CO',
 'US DEPARTMENT OF THE TREASURY'}

In [3]:
df_itr = pd.read_csv('basic_data_files.csv', chunksize=8192, nrows=10)

for df in df_itr:
    print(df)

   YEAR  TRI_FACILITY_ID        FRS_ID  \
0  2016  46552DCTLT30350  110000399453
1  2016  01950NNSPC3MALC  110000310379
2  2016  44691CRGLL1203T  110006261712
3  2016  02745CSHNT215DU  110002059049
4  2016  30050CLRXC17LAK  110000355730
5  2016  78114WTCTN5877F  110031018182
6  2016  48211CDLLC2500E  110000406640
7  2016  35064HNNST3812C  110000366292
8  2016  20228BRFNG14THC  110017347879
9  2016  74631CFMCR102S2  110000455784

                                       FACILITY_NAME  \
0                                         EDCOAT LLC
1                              UNION SPECIALTIES INC
2                           CARGILL ANIMAL NUTRITION
3                         ACUSHNET CO BALL PLANT III
4                   CLOROX PRODUCTS MANUFACTURING CO
5                                    WATCO TANKS INC
6  GENERAL MOTORS GM VA  DETROIT-HAMTRAMCK ASSEMB...
7                                   HANNA STEEL CORP
8  US DEPARTMENT OF THE TREASURY-BUREAU OF ENGRAV...
9                                           CFM CORP

               STREET_ADDRESS          CITY                COUNTY  ST    ZIP  \
0             30350 EDISON RD  NEW CARLISLE             ST JOSEPH  IN  46552
1           3 MALCOLM HOYT DR   NEWBURYPORT                 ESSEX  MA   1950
2              1203 TIMKEN RD       WOOSTER                 WAYNE  OH  44691
3           215 DUCHAINE BLVD   NEW BEDFORD               BRISTOL  MA   2745
4           17 LAKE MIRROR RD   FOREST PARK               CLAYTON  GA  30297
5                 5877 FM 539   FLORESVILLE                WILSON  TX  78114
6  2500 E GENERAL MOTORS BLVD       DETROIT                 WAYNE  MI  48211
7           3812 COMMERCE AVE     FAIRFIELD             JEFFERSON  AL  35064
8              14TH & C ST SW    WASHINGTON  DISTRICT OF COLUMBIA  DC  20228
9               102 S 29TH ST     BLACKWELL                   KAY  OK  74631

   BIA_CODE      ...        8.5_RECYCLING_OFF-SITE  8.6_TREATMENT_ON-SITE  \
0       NaN      ...                             0                      0
1       NaN      ...                             0                      0
2       NaN      ...                             0                      0
3       NaN      ...                             0                      0
4       NaN      ...                             0                      0
5       NaN      ...                             0                      0
6       NaN      ...                             0                      0
7       NaN      ...                             0                   4208
8       NaN      ...                             0                      0
9       NaN      ...                             0                      0

   8.7_TREATMENT_OFF-SITE PROD._WASTE_(8.1_THRU_8.7)  8.8_ONE-TIME_RELEASE  \
0                       0                1170.315400                   NaN
1                       0                  18.000000                   NaN
2                       0                   0.000000                   0.0
3                     106                2297.000000                   NaN
4                     230                 260.000000                   0.0
5                       0                5488.000000                   NaN
6                       0                1081.000000                   NaN
7                       0               10017.000000                   NaN
8                       0                 658.588063                   NaN
9                       0                   0.000000                   NaN

  PROD_RATIO_OR_ACTIVITY  8.9_PRODUCTION_RATIO            PARENT_COMPANY_NAME  \
0             PRODUCTION                  0.99                            NaN
1             PRODUCTION                  0.98                            NaN
2                    NaN                  0.00                    CARGILL INC
3             PRODUCTION                  0.86         ACUSHNET HOLDINGS CORP
4             PRODUCTION                  1.02                  THE CLOROX CO
5             PRODUCTION                  0.41                            NaN
6             PRODUCTION                  1.53             GENERAL MOTORS LLC
7                    NaN                   NaN               HANNA STEEL CORP
8             PRODUCTION                  1.10  US DEPARTMENT OF THE TREASURY
9             PRODUCTION                  1.15            KICE INDUSTRIES INC

   PARENT_COMPANY_DB_NUMBER  Unnamed: 109
0                       NaN           NaN
1                       NaN           NaN
2                 6249189.0           NaN
3                       NaN           NaN
4                51039402.0           NaN
5                       NaN           NaN
6               831247536.0           NaN
7                       NaN           NaN
8                       NaN           NaN
9               117241433.0           NaN

[10 rows x 110 columns]